.dialog-all .v-dialog .v-btn {
  height: 32px;
  width: 220px;
  position: relative;
  background: #424853 !important;
  border-radius: 16px !important;
  font-family: SourceSansPro-SemiBold;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  font-weight: 600;
}

v-dialog .dialog-card {
  position: relative;
  right: 210px;
  top: 120px;
  height: 188px !important;
  width: 403px !important;
  background: #ffffff;
  border-radius: 4px;
}

.ribbon {
  left: 50px;
  background-color: brown;
  width: 200px;
  height: 100px;
  border-radius: 4px;
  margin: 50px 10px;
  position: relative;
}
.ribbon:before {
  content: "";
  position: absolute;
  top: 10px;
  left: -16px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent brown transparent transparent;
}